[Unit]
Description=The Energy Detective Magic Mirror Monitoring Module

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/MagicMirror/modules/MMM-TheEnergyDetective/native
ExecStart=/usr/bin/mono TedMonitor.exe /h=<your ecc address> /o=/home/pi/MagicMirror/modules/MMM-TheEnergyDetective/data /s
Restart=always

[Install]
WantedBy=multi-user.target
